body{
    background-color: #2d2424;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10em;
}

h1{
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}

p{
    text-align: center;
    font-size: 2em;
    color: #ffffff;
}