{% extends "layout.html" %} 
#this line indicates that this template extends the layout.html template, which means it will inherit the structure and content defined in layout.html

{% block title %}
Homepage
{% endblock %} 
#this block overrides the title block defined in layout.html, providing a specific title for the homepage

{% block content %}
<h1 class='bg-amber-950 text-amber-50 font-extrabold'>Chai aur code home page</h1>

<p class='bg-amber-600 text-amber-950 font-light text-center'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, excepturi.</p>
{% endblock %} 
#this block overrides the content block defined in layout.html, providing specific content for the homepage. 